body
{
	font-size:12px;
}
a
{
	text-decoration:none;	
}
input[type='text']
{
	border:solid 1px black;	
	width:80%;
}
textarea
{
	border:solid 1px black;	
	width:300px;
	height:100px;
}
.tableEdit
{
	border:solid 1px #B5D6E6;	
	border-collapse:collapse;
	width:99%;	
	margin:5px;
}
.tableEdit th
{
	text-align:right;
	padding:5px 8px;	
	border:solid 1px #B5D6E6;	
	width:100px;
	background-color:#f4f4f4;
}
.tableEdit td
{
	text-align:left;
	padding:5px 8px;	
	border:solid 1px #B5D6E6;	
}
.tableEdit thead
{
	border:solid 1px #B5D6E6;
	background-color:#C1EBFF;
	padding:5px;
	font-weight:bold;
}